<form name="forgotPassForm"   class="css-form" ng-submit="forgotPassword(forgotPassForm.$valid)" novalidate>
  <div class="container">
    <!-- <label><b>Username</b></label> -->
     <input type="email" placeholder="Enter user email" name="email" ng-model="forgotPass.email"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
   
    <button type="submit">Submit</button>
  </div>
    <!-- <span style="margin-left: 19px;">Forgot <a href="#">password?</a></span>  -->
    <span style="margin-left: 296px;">I have account <a href="#/login">Signin</a></span> 
</form>
