<form name="signupForm"   class="css-form" ng-submit="signupUser(signupForm.$valid)" novalidate>
  <div class="container">
    <!-- <label><b>Username</b></label> -->
     <input type="text" placeholder="Enter user name" name="uname" ng-model="signup.username" required>
    
      <input type="email" placeholder="Enter email address" name="email" ng-model="signup.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required >
    <button type="submit">SignUp</button>
  </div>
    <!-- <span style="margin-left: 19px;">Forgot <a href="#">password?</a></span>-->
    <span style="margin-left: 296px;">I have account <a href="#/login">Signin</a></span> 
</form>
